@import '../../theme/sass/conf/conf';

$color1: #E64A19;
$color2: #0277BD;
$color3: #388E3C;
$color4: #FBC02D;


.al-main {
  margin-left:0!important;
}
.title {
  font-size: 70px;
  line-height:70px;
  width: 100%;
  text-align: center;
}

.content {
    margin-top:10px;
    text-align: center;

    .development {
      margin-top:10px;
      font-style: italic;
    }
}


.first {
  color:$color2;
} 
.second {
  color:$color1;
}
.third {
  color:$color4;
}
.forth {
  color:$color3;
}
.fifth {
  color:$color1;
}
.sixth{
  color:$color2;
}
.seventh {
  color:$color3;
}
.eigth {
  color: $color1;
}
.ninth {
  color:$color4;
}